body {
	background-image: url("http://greenword.ru/images/2015/04/img_553501a30fcc6.jpg");
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#container {
	height: 470px;
	/*margin: auto; 
	text-align: center; 
	line-height: 285px; 
	vertical-align:middle;*/
	margin-left: 77%;
	margin-top: 30px;
}

#player {
	opacity: 0.8;
}

#clock {
	text-align: center;
    line-height: 1;
    padding: 0;
    margin: 0;
    color: #fff;
    font-weight: lighter;
}

#format {
    font-size: 300%;
    margin-left: -40px;
}

.clockStyle {
    letter-spacing: -5px;
    font-size: 1125%;
}
