<!DOCTYPE html>
<html>
<head>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <link type="text/css" rel="stylesheet" media="screen" href="css/jquery-sakura.min.css" />
  <link type="text/css" rel="stylesheet" media="screen" href="css/main.css" />
</head>
  <body>
    <div id ="container">
      <div id="btn-container">
       <div class="btn-ver1"> <a href='/player/?version=v1'><img src="img/throbbingbutton.png" /></a></div>
        <div class="btn-ver2"><a href='/player/?version=v2'><img src="img/warmbutton.png" /></a></div>
      </div>
      <div id="title"><img src="img/title.png" /></div>
    </div>
  </body>
</html>

